<!DOCTYPE html>
<html>
<title>MTB Project</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="w3.css">
<!-- <link href="https://veg.github.io/phylotree.js/phylotree.css" rel="stylesheet"> -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- <script src="http://code.jquery.com/jquery.js"></script>
 -->
<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="https://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
<!-- <script src='https://cdn.rawgit.com/nicgirault/circosJS/v2/dist/circos.js'></script> -->
<!-- <script src="https://veg.github.io/phylotree.js/phylotree.js"></script>   -->
<script src="newwick.js" type="text/javascript"></script>
<script src="d3.phylogram.js" type="text/javascript"></script>
<script src="w3.js" type="text/javascript"></script>
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
<body onload="load()">

<div class="w3-top">
    <div class="w3-bar w3-blue w3-card-2 w3-right-align w3-large">
        <a href="#" class="w3-bar-item w3-button w3-padding-large">MTB Fatty Acid Project</a>
        <a href="http://csblab.in/" target="_blank" class="w3-bar-item w3-button w3-padding-large w3-right w3-white">CSB LAB</a>
    </div>
</div>
<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
    <div class="w3-third">
      <div class="w3-card-2">
        <header class="w3-container w3-blue">
          <h4>About</h4>
        </header>
        <div class="w3-container">
          <p class="w3-text-black">Fatty acid degradation is the process in which fatty acids are broken down into their metabolites, in the end generating acetyl-CoA, the entry molecule for the citric acid cycle, the main energy supply of animals. It includes three major steps:
          <li>Lipolysis of and release from adipose tissue</li>
          <li>Activation and transport into mitochondria</li>
          <li>β-oxidation</li>
          </p>
        </div>
        <footer class="w3-container w3-blue">
          <div class="w3-bar">
            <a href="#" class="w3-bar-item w3-button w3-red" id="vis11"onclick="clickfunction1()">ECH </a>
            <a href="#" class="w3-bar-item w3-button" id="vis12" onclick="clickfunction2()">FAD-E</a>
            <a href="#" class="w3-bar-item w3-button" id="vis13" onclick="clickfunction3()">FAD-A</a>
          </div>
        </footer>
      </div>
    </div>
    <div class="w3-twothird" >
        <header class="w3-container w3-blue" id="title">
          <h4>{{title}} Family Disribution Among Various Species</h4>
        </header>
        <div class="w3-container" id="vis1">
          <br>
        </div>
        <div class="w3-container w3-hide" id="vis2" >
          <br>
        </div>
        <div class="w3-container w3-hide" id="vis3" >
          <br>
          <p>Coming Soon</p>  
        </div>
    </div>
</div>


<!-- Second Grid -->
<div class="w3-row-padding w3-padding-64 ">
  <h1 class="w3-center">Phylogeny Tree</h1>
  <div class="w3-content">
    <img src="images/radial_ech.png" width="95%">
  </div>   
</div>
<script type="text/javascript">
    function load() {

      data1();
      data2();
      // data3();
    };
    function data1() {
      // body...
      var data = {"title" : "ECH"};
      w3.displayObject("title", data);
      // d3 stuffs

        var width = 700,
            height = 400,
            radius = Math.min(width, height) / 2,
            innerRadius = 0.3 * radius;

        var pie = d3.layout.pie()
            .sort(null)
            .value(function(d) { return d.width; });
            var fill = d3.scale.category10();
            var tip = d3.tip()
            .attr('class', 'd3-tip')
            .offset([0, 0])
            .html(function(d) {
              return d.data.label + ": <span style='color:orangered'>" + d.data.score + "</span>";
            });

        var arc = d3.svg.arc()
          .innerRadius(innerRadius)
          .outerRadius(function (d) { 
            return (radius - innerRadius) * (d.data.score *4.5/ 100.0) + innerRadius; 
          });

        var outlineArc = d3.svg.arc()
                .innerRadius(innerRadius)
                .outerRadius(radius);

        var svgout = d3.select("#vis1").append("svg")
            .attr("width", width)
            .attr("height", height);
            
        var svg = svgout
            .append("g")
            .attr("transform", "translate(" + radius + "," + height / 2 + ")");

        svg.call(tip);

        d3.csv('data/data.csv', function(error, data) {

          data.forEach(function(d) {
            d.id     =  d.id;
            d.order  = +d.order;
            d.color  =  d.color;
            d.weight = +d.weight;
            d.score  = +d.score;
            d.width  = +d.weight;
            d.label  =  d.label;
          });
          // for (var i = 0; i < data.score; i++) { console.log(data[i].id) }
          
          var path = svg.selectAll(".solidArc")
              .data(pie(data))
              .enter().append("path")
              .attr("fill", function(d) { return fill(d.data.label); })
              .attr("class", "solidArc")
              .attr("stroke", "gray")
              .attr("d", arc)
              .on('mouseover', tip.show)
              .on('mouseout', tip.hide);

          var outerPath = svg.selectAll(".outlineArc")
              .data(pie(data))
               .enter().append("path")
              .attr("fill", "none")
              .attr("stroke", "gray")
              .attr("class", "outlineArc")
              .attr("d", outlineArc);  


          // calculate the weighted mean score
          var score = 87


          svg.append("svg:text")
            .attr("class", "aster-score")
            .attr("dy", ".35em")
            .attr("text-anchor", "middle") // text-align: right
            .text(Math.round(score));
            
        var legend = svgout.selectAll(".legend")
          .data(fill.domain())
          .enter().append("g")
          .attr("class", "legend")
          .attr("transform", function(d, i) { return "translate(" + (width - 20) + "," + i * 20 + ")"; });

          // draw legend colored rectangles
          legend.append("rect")
          .attr("width", 20)
          .attr("height", 18)
          .style("fill", function(d) { return fill(d); });

          // draw legend text
          legend.append("text")
          .attr("y", 9)
          .attr("dx", -1)
          .attr("dy", ".35em")
          .style("text-anchor", "end")
          .text(function(d) { return d;})

          
        });
    };
    function data2() {
      // body...
      // d3 stuffs

        var width = 700,
            height = 400,
            radius = Math.min(width, height) / 2,
            innerRadius = 0.3 * radius;

        var pie = d3.layout.pie()
            .sort(null)
            .value(function(d) { return d.width; });
            var fill = d3.scale.category10();
            var tip = d3.tip()
            .attr('class', 'd3-tip')
            .offset([0, 0])
            .html(function(d) {
              return d.data.label + ": <span style='color:orangered'>" + d.data.score + "</span>";
            });

        var arc = d3.svg.arc()
          .innerRadius(innerRadius)
          .outerRadius(function (d) { 
            return (radius - innerRadius) * (d.data.score *2.75/ 100.0) + innerRadius; 
          });

        var outlineArc = d3.svg.arc()
                .innerRadius(innerRadius)
                .outerRadius(radius);

        var svgout = d3.select("#vis2").append("svg")
            .attr("width", width)
            .attr("height", height);
            
        var svg = svgout
            .append("g")
            .attr("transform", "translate(" + radius + "," + height / 2 + ")");

        svg.call(tip);

        d3.csv('data/data2.csv', function(error, data) {

          data.forEach(function(d) {
            d.id     =  d.id;
            d.order  = +d.order;
            d.color  =  d.color;
            d.weight = +d.weight;
            d.score  = +d.score;
            d.width  = +d.weight;
            d.label  =  d.label;
          });
          // for (var i = 0; i < data.score; i++) { console.log(data[i].id) }
          
          var path = svg.selectAll(".solidArc")
              .data(pie(data))
              .enter().append("path")
              .attr("fill", function(d) { return fill(d.data.label); })
              .attr("class", "solidArc")
              .attr("stroke", "gray")
              .attr("d", arc)
              .on('mouseover', tip.show)
              .on('mouseout', tip.hide);

          var outerPath = svg.selectAll(".outlineArc")
              .data(pie(data))
               .enter().append("path")
              .attr("fill", "none")
              .attr("stroke", "gray")
              .attr("class", "outlineArc")
              .attr("d", outlineArc);  


          // calculate the weighted mean score
          var score = 93


          svg.append("svg:text")
            .attr("class", "aster-score")
            .attr("dy", ".35em")
            .attr("text-anchor", "middle") // text-align: right
            .text(Math.round(score));
            
        var legend = svgout.selectAll(".legend")
          .data(fill.domain())
          .enter().append("g")
          .attr("class", "legend")
          .attr("transform", function(d, i) { return "translate(" + (width - 20) + "," + i * 20 + ")"; });

          // draw legend colored rectangles
          legend.append("rect")
          .attr("width", 20)
          .attr("height", 18)
          .style("fill", function(d) { return fill(d); });

          // draw legend text
          legend.append("text")
          .attr("y", 9)
          .attr("dx", -1)
          .attr("dy", ".35em")
          .style("text-anchor", "end")
          .text(function(d) { return d;})

          
        });
    };
    // function data3() {
    //   // body...
    //   // d3 stuffs

    //     var width = 700,
    //         height = 400,
    //         radius = Math.min(width, height) / 2,
    //         innerRadius = 0.3 * radius;

    //     var pie = d3.layout.pie()
    //         .sort(null)
    //         .value(function(d) { return d.width; });
    //         var fill = d3.scale.category10();
    //         var tip = d3.tip()
    //         .attr('class', 'd3-tip')
    //         .offset([0, 0])
    //         .html(function(d) {
    //           return d.data.label + ": <span style='color:orangered'>" + d.data.score + "</span>";
    //         });

    //     var arc = d3.svg.arc()
    //       .innerRadius(innerRadius)
    //       .outerRadius(function (d) { 
    //         return (radius - innerRadius) * (d.data.score *4.5/ 100.0) + innerRadius; 
    //       });

    //     var outlineArc = d3.svg.arc()
    //             .innerRadius(innerRadius)
    //             .outerRadius(radius);

    //     var svgout = d3.select("#vis3").append("svg")
    //         .attr("width", width)
    //         .attr("height", height);
            
    //     var svg = svgout
    //         .append("g")
    //         .attr("transform", "translate(" + radius + "," + height / 2 + ")");

    //     svg.call(tip);

    //     d3.csv('data/data.csv', function(error, data) {

    //       data.forEach(function(d) {
    //         d.id     =  d.id;
    //         d.order  = +d.order;
    //         d.color  =  d.color;
    //         d.weight = +d.weight;
    //         d.score  = +d.score;
    //         d.width  = +d.weight;
    //         d.label  =  d.label;
    //       });
    //       // for (var i = 0; i < data.score; i++) { console.log(data[i].id) }
          
    //       var path = svg.selectAll(".solidArc")
    //           .data(pie(data))
    //           .enter().append("path")
    //           .attr("fill", function(d) { return fill(d.data.label); })
    //           .attr("class", "solidArc")
    //           .attr("stroke", "gray")
    //           .attr("d", arc)
    //           .on('mouseover', tip.show)
    //           .on('mouseout', tip.hide);

    //       var outerPath = svg.selectAll(".outlineArc")
    //           .data(pie(data))
    //            .enter().append("path")
    //           .attr("fill", "none")
    //           .attr("stroke", "gray")
    //           .attr("class", "outlineArc")
    //           .attr("d", outlineArc);  


    //       // calculate the weighted mean score
    //       var score = 87


    //       svg.append("svg:text")
    //         .attr("class", "aster-score")
    //         .attr("dy", ".35em")
    //         .attr("text-anchor", "middle") // text-align: right
    //         .text(Math.round(score));
            
    //     var legend = svgout.selectAll(".legend")
    //       .data(fill.domain())
    //       .enter().append("g")
    //       .attr("class", "legend")
    //       .attr("transform", function(d, i) { return "translate(" + (width - 20) + "," + i * 20 + ")"; });

    //       // draw legend colored rectangles
    //       legend.append("rect")
    //       .attr("width", 20)
    //       .attr("height", 18)
    //       .style("fill", function(d) { return fill(d); });

    //       // draw legend text
    //       legend.append("text")
    //       .attr("y", 9)
    //       .attr("dx", -1)
    //       .attr("dy", ".35em")
    //       .style("text-anchor", "end")
    //       .text(function(d) { return d;})

          
    //     });
    // };
</script>
<script type="text/javascript">
    function clickfunction1() {
      // body...
      w3.removeClass('#vis1','w3-hide');
      w3.addClass('#vis1','w3-show');
      w3.addClass('#vis11','w3-red');
      w3.removeClass('#vis12','w3-red');
      w3.removeClass('#vis2','w3-show');
      w3.addClass('#vis2','w3-hide');
      w3.removeClass('#vis13','w3-red')
      w3.removeClass('#vis3','w3-show')
      w3.addClass('#vis3','w3-hide');
      var data = {"title" : "ECH"};
      w3.displayObject("title", data);
    }
    function clickfunction2() {
      // body...
      w3.removeClass('#vis2','w3-hide');
      w3.addClass('#vis2','w3-show');
      w3.addClass('#vis12','w3-red');
      w3.removeClass('#vis11','w3-red');
      w3.removeClass('#vis1','w3-show');
      w3.addClass('#vis1','w3-hide');
      w3.removeClass('#vis13','w3-red');
      w3.removeClass('#vis3','w3-show');
      w3.addClass('#vis3','w3-hide');
      var data = {"title" : "FAD-E"};
      w3.displayObject("title", data);
    }
    function clickfunction3() {
      // body...
      w3.removeClass('#vis3','w3-hide');
      w3.addClass('#vis3','w3-show');
      w3.addClass('#vis13','w3-red'); 
      w3.removeClass('#vis11','w3-red');
      w3.removeClass('#vis1','w3-show');
      w3.addClass('#vis1','w3-hide');
      w3.removeClass('#vis12','w3-red');
      w3.removeClass('#vis2','w3-show');
      w3.addClass('#vis2','w3-hide');
      var data = {"title" : "FAD-A"};
      w3.displayObject("title", data);
    }
</script>
<!-- Footer -->
<footer class="w3-container w3-theme-dark w3-container w3-padding-64 w3-center " style="margin-top: -100px">
    
    <p><img alt="" src="images/igib.png"></p>
    <p>Copyright © 2017 . All rights reserved.</p>
    <p><a href="https://iiitd.ac.in/" target="_blank"><strong>CSIR-Institute of Genomics & Integrative Biology (CSIR-IGIB)</strong></a> | <a href="https://www.igib.res.in/?q=LipiThukral" target="_blank">Dr. Lipi Thukral</a></p>
   <div class="w3-xlarge">
      <a href="https://twitter.com/Sci_Lipi" target="_blank"><i class="fa fa-twitter w3-hover-opacity"></i></a>
      <a href="https://www.linkedin.com/in/lipi-thukral-ph-d-61833229/" target="_blank"><i class="fa fa-linkedin w3-hover-opacity"></i></a>
   </div>
    <p>Developed by <a href="#" target="_blank">Arvind Iyer</a> | Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>
</body>
</html>
