<div id="network" ng-style="{'background-color': bg.color}"></div>
<div class="loading"><span us-spinner="{radius:30, width:3, length: 100}"></span></div>
<div class="summary" ng-show="overlayState.show">
   <h3>Visual Style:</h3>
   <select class="form-control" id="vs-selector" ng-options="styleName for styleName in visualStyleNames" ng-change="switchVS()" ng-model="currentVS"></select>
   <h3>Layout:</h3>
   <select class="form-control" id="layout-selector" ng-options="layoutName for layoutName in LAYOUTS" ng-change="switchLayout()" ng-model="currentLayout"></select>
</div>
<div ng-show="browserState.show" class="table-browser">
   <div id="table-view">
      <tabset justified="true">
         <tab heading="Node">
            <table class="table table-striped table-bordered table-hover">
               <thead>
                  <tr>
                     <td>SUID
                     <td ng-repeat="columnName in columnNames">{{columnName}}
               <tbody data-ng-repeat="node in selectedNodes">
                  <tr>
                     <td>{{ node.id() }}
                     <td ng-repeat="colName in columnNames">{{node.data(colName)}}
            </table>
         </tab>
         <tab heading="Edge">
            <table class="table table-striped table-bordered table-hover">
               <thead>
                  <tr>
                     <td>SUID
                     <td ng-repeat="columnName in edgeColumnNames">{{columnName}}
               <tbody data-ng-repeat="edge in selectedEdges">
                  <tr>
                     <td>{{ edge.id() }}
                     <td ng-repeat="colName in edgeColumnNames">{{edge.data(colName)}}
            </table>
         </tab>
      </tabset>
   </div>
</div>
